<settings-screen>
  <div class="row voffset1">
    <div class="col-md-12">
      <span ng-if="currentUser.hasPermission('admin')">
        <a ng-click="newGroup()" class="btn btn-default"><i class="fa fa-plus"></i> New Group</a>
      </span>

      <!-- crowdworks extended -->
      <span ng-if="currentUser.hasPermission('admin')">
        <a ng-click="syncGroups()" class="btn btn-default"><i class="fa fa-refresh"></i> Sync Google Group</a>
      </span>
      <span ng-if="sync_group_requested">
        Sync Google Group Requested.
      </span>
      <!-- /crowdworks extended -->

      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in groups.getPageRows()">
            <td>
              <a href="groups/{{row.id}}">{{row.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator paginator="groups"></paginator>
    </div>
  </div>
</settings-screen>
